/* Menu CSS */

.menu_item,
.ant-menu-submenu-title,
.logo {
  text-decoration: none;
  color: #fff !important;
  font-size: large;
}

.subMenu_item {
  text-decoration: none;
  font-size: large;
}
/* Header Button CSS */
.auth-buttons {
  display: flex;
  align-items: center;
}

.sign-in-btn,
.register-btn {
  border: none;
  border-radius: 15px;
  width: 85px;
  height: 32px;
  line-height: 0%;
  font-size: large;
}

.sign-in-btn {
  background-color: white;
}

.register-btn {
  background-color: #000;
  color: white;
}
